alembic==1.15.2
apscheduler==3.11.0
bcrypt==4.3.0
fastapi==0.115.12
psycopg2==2.9.10
PyJWT==2.10.1
pyTelegrambotAPI==4.27.0
python-dotenv==1.1.0
python-jose==3.4.0
pytz==2025.2
SQLAlchemy==2.0.40
telebot_calendar==1.2
uvicorn==0.34.2